/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body.dark {
    color: #fff;
    .container-fluid {
        background-color: #000;
        .card {
            border: none;
            .card-body {
                background-color: #000000c7;
                color: #fff;
            }
        }
    }
}
