<div class="row">
    <div class="col-md-6 col-sm-12 pl-5 pt-5">
        <img [src]="country?.flags.png" style="height: 90%;">
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row pb-3">
            <strong><h3>{{country?.name.common}}</h3></strong>            
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p><strong>Native Name: </strong>{{name}}</p>
                <p><strong>Population: </strong>{{country?.population}}</p>
                <p><strong>Region: </strong>{{country?.region}}</p>
                <p><strong>Sub Region: </strong>{{country?.subregion}}</p>
                <p><strong>Capital: </strong>{{country?.capital[0]}}</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p><strong>Top Level Domain: </strong>{{country?.tld[0]}}</p>
                <p><strong>Currencies: </strong>
                    <span *ngFor="let c of currencies; let i=index">{{c}}{{(i<(currencies!.length-1||0)) ? ', ' : ''}}</span>
                </p>
                <p><strong>Languages: </strong>
                    <span *ngFor="let c of languages; let i=index">{{c}}{{(i<(languages!.length-1||0)) ? ', ' : ''}}</span>
                </p>
            </div>
        </div>        
    </div>
</div>